nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1px;
    padding: 1rem;
    border: 1px solid rgb(0, 0 green, 0 blue/0.2);
    color: #333;
    text-align: center;
}

img aside {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}