* {
    margin: 0;
    padding: 0;
}

body {
    line-break: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100px;
    height: auto;
    box-shadow: 0 0 30px #333;

}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: 0.9rem;
}

h2 {
    border-bottom: 1px solid #222;
}

ul {
    margin: 10px 20px;
}

section p {
    margin: 10px;
}

footer {
    font-family: 0.9rem;
}